{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ current_user.username }} добро пожаловать. Снова.</h1>

    <h2>About me:</h2>
    <p>
        id: {{ current_user.id }}<br>
        Number: {{ current_user.phone_number }}<br>
        Email: {{ current_user.email }}<br>
        Contacts: {{ current_user.followed.count() }}<br>
    </p>
    <h2>Add contact:</h2>
        <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
            {% include '_validation_error.html' %}
        </div>
    </div>


    <h2>Your contacts:</h2>
    {% for follower in current_user.followed.all() %}
        <table>
            <tr valign="top">
                <td><a href="{{ url_for('main.user', username=follower.username) }}">{{ follower.username }}</a></td>
            </tr>
        </table>
    {% else %}
        You haven't contacts
    {% endfor %}

{% endblock %}