{% extends "base.html" %}

{% block app_content %}
    <h1>{{ current_user.username }} добро пожаловать. Снова.</h1>

    <h2>About me:</h2>
    <p>
        id: {{ current_user.id }}<br>
        Number: {{ current_user.phone_number }}<br>
        Email: {{ current_user.email }}<br>
        Contacts: {{ current_user.followed.count() }}<br>
    </p>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <h2>Add contact:</h2>
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
        </p>
        <p>
            {{ form.phone_number.label }}<br>
            {{ form.phone_number(size=32) }}<br>
        </p>
        <p>{{ form.submit() }}</p>

        {% include '_validation_error.html' %}
    </form>

    <h2>Your contacts:</h2>
    {% for follower in current_user.followed.all() %}
        <table>
            <tr valign="top">
                <td><a href="{{ url_for('user', username=follower.username) }}">{{ follower.username }}</a></td>
            </tr>
        </table>
    {% else %}
        You haven't contacts
    {% endfor %}

{% endblock %}